node_modules/
dist/
dist-caja/
dist-instalador/
dist-terminal/
dist-terminal-fresh/
dist-terminal-next/
dist-terminal-retryclose/
.electron-builder-cache/
backups/

pdfs/**
pdf_presupuesto/*.pdf
*.log
*.zip
tmp-*.cmd
app.config.json
server.config.json
00DatosBaseDatosServer.txt

.env
.env.*
.tmp-license-test*/

installer/terminal/*.exe
installer/postgresql/*.exe
installer/postgresql/*-binaries.zip
installer/postgresql/extract-15/
installer/postgresql/runtime-15-extract/
installer/postgresql/runtime-15-zip/
